<template name="ApplicationLayout">
    <header>
        <title>Trivia Rumble</title>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic|Source+Sans+Pro:400,200,200italic,300,300italic,400italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="main.css">
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    </header>

    <body>
        <header>
            <nav role="navigation" class="#263238 blue-grey darken-4">
                <div class="nav-wrapper container #263238 blue-grey darken-4">
                    <a href="/" id="logo-container" class="brand-logo blo">TRIVIA RUMBLE</a>
                    <ul class="right">
                        <li>
                            <a href="/search"><i class="material-icons left">search</i>Find Friends</a>
                        </li>
                        <li>{{> loginButtons align=right}}</li>
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            {{> yield}}
        </main>
        <footer class="page-footer #37474f blue-grey darken-3">
            <div class="footer-copyright">
                <div>
                    @ 2016 Renan Gonzalez-Sainz
                </div>
            </div>
        </footer>
    </body>
</template>