body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.blo {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    letter-spacing: 5px;
}

.right {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

.desc {
    text-align: center;
    padding-top: 24px;
    max-height: 100px;
    min-height: 100px;
}

.challenge-friend {
    cursor: pointer;
}

.logintoP {
    text-align: center;
}