<template name="home">
    {{#if currentUser}}
    <div class="container">
        <div class="section">
            <div class="row center">
                <h2>Start New Game</h2>
            </div>
            <div id="item" class="row card blue-grey darken-1">
                <div class="col s6">
                    <ul class="collection with-header">
                        <li class="collection-header blue-grey darken-1 white-text">
                            <h4>Friends</h4>
                        </li>
                        {{#if friends}} {{#each friends}}
                        <li class="collection-item">
                            <div>
                                <a href="#">{{Username}}</a>
                                <a class="secondary-content challenge-friend">
                                    <i class="material-icons">play_arrow</i>
                                </a>
                            </div>
                        </li>
                        {{/each}} {{/if}}
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <div class="row">
                                <div class="col s6 center">
                                    <h4>Random User</h4>
                                    <a class="waves-effect waves-light btn-large rand-user #424242 grey darken-3"><i class="material-icons right">language</i>Random</a>
                                </div>
                                <p class="desc">Play with a random person anywhere in the world, test your knowledge against random players.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <div class="row">
                                <div class="col s6 center">
                                    <h4>Play Friends</h4>
                                    <a id="button" href="#" class="waves-effect waves-light btn-large #424242 grey darken-3"><i class="material-icons right">perm_identity</i>Friends</a>
                                </div>
                                <p class="desc">Play with friends and find out which one of you has the most knowledge about the world. Winners are entitled to bragging rights.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    $(function () {
                        $("#item").toggle();
                        $("#button").click(function () {
                            $("#item").toggle();
                        });
                    });
                </script>
            </div>
        </div>
        <div class="section">
            <div class="card-panel blue-grey darken-1 white-text">
                <h4>Your Turn</h4>
            </div>
            <ul class="collection">
                {{#each yourGames}}
                <li class="collection-item avatar">
                    {{#with opponentData}}
                    <span class="title"><a>{{username}}</a></span> {{/with}}
                    <p>Round: {{round}}</p>
                    <div class="secondary-content">
                        <div class="chip">
                            Score: {{yourScore}} - {{opponentScore}}
                        </div>
                        &nbsp;
                        <a href="/game/{{_id}}" class="waves-effect btn">play</a>
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
    {{else}}
    <div class="container">
        <div class="section logintoP">
            <div class="card-panel  blue-grey darken-1 white-text">
                <h3>Please create an account to log in and play</h3>
            </div>
        </div>
    </div>
    {{/if}}
</template>